/**************************
Home Page Styles
**************************/
.home-body {
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  height: 90vh;
}

.jumbo-contain {
  padding-top: 30px;
  padding-bottom: 30px;
}

.jumbotron {
  max-width: 750px;
  margin: 0 auto;
}

.btn-lg {
  margin: 5px;
}

/**************************
Host Styles
**************************/
.hosts img{
  max-height: 200px;
  padding-top: 20px;
}

.space-between {
  justify-content: space-around; 
}

/**************************
Profile Styles
**************************/
.oneShow {
  margin: 20px;
}

.oneShow img {
  max-height: 300px;
}
/**************************
Show List Styles
**************************/
.show img {
  max-height: 200px;
}

/**************************
Show View Styles
**************************/
.castHeader img {
  max-height: 250px;
  float: right;
}

.castHeader h1 {
  display: inline-block;
}

.level button {
  border-radius: 50%;
}

.episodes {
  clear: both;
  padding-top: 10px;
}
/**************************
Player Styles
**************************/
.player {
  padding-top: 10px;
}